<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_ani_bomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,63},{28,37}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,92},{28,37}}</string>
                <key>sourceSize</key>
                <string>{206,191}</string>
            </dict>
            <key>g_ani_bomb10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{184,181}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{184,181}}</string>
                <key>sourceSize</key>
                <string>{206,191}</string>
            </dict>
            <key>g_ani_bomb11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,183},{182,183}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{182,183}}</string>
                <key>sourceSize</key>
                <string>{206,191}</string>
            </dict>
            <key>g_ani_bomb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,367},{28,37}}</string>
                <key>offset</key>
                <string>{-10,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,126},{28,37}}</string>
                <key>sourceSize</key>
                <string>{206,191}</string>
            </dict>
            <key>g_ani_bomb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1},{58,61}}</string>
                <key>offset</key>
                <string>{-10,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,117},{58,61}}</string>
                <key>sourceSize</key>
                <string>{206,191}</string>
            </dict>
            <key>g_ani_bomb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,345},{92,87}}</string>
                <key>offset</key>
                <string>{-11,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,104},{92,87}}</string>
                <key>sourceSize</key>
                <string>{206,191}</string>
            </dict>
            <key>g_ani_bomb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,175},{88,83}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,85},{88,83}}</string>
                <key>sourceSize</key>
                <string>{206,191}</string>
            </dict>
            <key>g_ani_bomb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,367},{136,151}}</string>
                <key>offset</key>
                <string>{-19,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,38},{136,151}}</string>
                <key>sourceSize</key>
                <string>{206,191}</string>
            </dict>
            <key>g_ani_bomb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,345},{170,163}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,163}}</string>
                <key>sourceSize</key>
                <string>{206,191}</string>
            </dict>
            <key>g_ani_bomb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,175},{178,169}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{178,169}}</string>
                <key>sourceSize</key>
                <string>{206,191}</string>
            </dict>
            <key>g_ani_bomb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1},{180,173}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{180,173}}</string>
                <key>sourceSize</key>
                <string>{206,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_bomb.png</string>
            <key>size</key>
            <string>{449,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db1d96fc934b3fa1919bb39ceb740920$</string>
            <key>textureFileName</key>
            <string>ani_bomb.png</string>
        </dict>
    </dict>
</plist>
