<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liandan_pao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{125,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,45}}</string>
                <key>sourceSize</key>
                <string>{125,45}</string>
            </dict>
            <key>z0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,202},{40,50}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,140},{40,50}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>z0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,138},{102,104}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,154},{102,104}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>z0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,166},{88,82}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,149},{88,82}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>z0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,2},{134,152}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,101},{134,152}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>z0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{158,162}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,79},{158,162}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>z0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{170,164}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,77},{170,164}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>z0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{178,168}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,77},{178,168}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>z0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,172}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,77},{180,172}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>z0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,178}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,74},{198,178}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>z0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{184,182}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,73},{184,182}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_SmallBoom.png</string>
            <key>size</key>
            <string>{1190,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f46e63ab6df0f40adc675c6b4a782a8$</string>
            <key>textureFileName</key>
            <string>Ani_SmallBoom.png</string>
        </dict>
    </dict>
</plist>
