<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wz_0000_wz0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,1685},{335,269}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,75},{335,269}}</string>
                <key>sourceSize</key>
                <string>{507,373}</string>
            </dict>
            <key>wz_0001_wz0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,1414},{335,269}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,75},{335,269}}</string>
                <key>sourceSize</key>
                <string>{507,373}</string>
            </dict>
            <key>wz_0002_wz0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1139},{397,273}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,74},{397,273}}</string>
                <key>sourceSize</key>
                <string>{507,373}</string>
            </dict>
            <key>wz_0003_wz0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,864},{397,273}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,74},{397,273}}</string>
                <key>sourceSize</key>
                <string>{507,373}</string>
            </dict>
            <key>wz_0004_wz0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1071},{449,331}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{449,331}}</string>
                <key>sourceSize</key>
                <string>{507,373}</string>
            </dict>
            <key>wz_0005_wz0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,738},{449,331}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{449,331}}</string>
                <key>sourceSize</key>
                <string>{507,373}</string>
            </dict>
            <key>wz_0006_wz0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{475,345}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{475,345}}</string>
                <key>sourceSize</key>
                <string>{507,373}</string>
            </dict>
            <key>wz_0007_wz0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{475,349}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{475,349}}</string>
                <key>sourceSize</key>
                <string>{507,373}</string>
            </dict>
            <key>wz_0008_wz0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,371},{503,365}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,365}}</string>
                <key>sourceSize</key>
                <string>{507,373}</string>
            </dict>
            <key>wz_0009_wz0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{503,365}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,365}}</string>
                <key>sourceSize</key>
                <string>{507,373}</string>
            </dict>
            <key>wz_0010_wz0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{507,367}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,367}}</string>
                <key>sourceSize</key>
                <string>{507,373}</string>
            </dict>
            <key>wz_0011_wz0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{507,367}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,367}}</string>
                <key>sourceSize</key>
                <string>{507,373}</string>
            </dict>
            <key>wz_0012_wz0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1085},{383,361}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{383,361}}</string>
                <key>sourceSize</key>
                <string>{507,373}</string>
            </dict>
            <key>wz_0013_wz0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,479},{383,361}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{383,361}}</string>
                <key>sourceSize</key>
                <string>{507,373}</string>
            </dict>
            <key>wz_0014_wz0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1404},{379,369}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,0},{379,369}}</string>
                <key>sourceSize</key>
                <string>{507,373}</string>
            </dict>
            <key>wz_0015_wz0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{379,365}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,1},{379,365}}</string>
                <key>sourceSize</key>
                <string>{507,373}</string>
            </dict>
            <key>wz_0016_wz0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1815},{307,181}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,155},{307,181}}</string>
                <key>sourceSize</key>
                <string>{507,373}</string>
            </dict>
            <key>wz_0017_wz0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1414},{315,183}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,155},{315,183}}</string>
                <key>sourceSize</key>
                <string>{507,373}</string>
            </dict>
            <key>wz_0018_wz0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1775},{319,185}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,154},{319,185}}</string>
                <key>sourceSize</key>
                <string>{507,373}</string>
            </dict>
            <key>wz_0019_wz0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1775},{323,187}}</string>
                <key>offset</key>
                <string>{-1,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,153},{323,187}}</string>
                <key>sourceSize</key>
                <string>{507,373}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_KingBoom.png</string>
            <key>size</key>
            <string>{1375,1998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4c009c3e5dcae7e50eef2c8308494ff$</string>
            <key>textureFileName</key>
            <string>Ani_KingBoom.png</string>
        </dict>
    </dict>
</plist>
