<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{160,66}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{160,66}}</string>
                <key>sourceSize</key>
                <string>{164,86}</string>
            </dict>
            <key>btn_qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,522},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>btn_sg_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{3,5}}</string>
                <key>offset</key>
                <string>{70,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,155},{3,5}}</string>
                <key>sourceSize</key>
                <string>{339,247}</string>
            </dict>
            <key>btn_sg_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,262},{17,33}}</string>
                <key>offset</key>
                <string>{63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,127},{17,33}}</string>
                <key>sourceSize</key>
                <string>{339,247}</string>
            </dict>
            <key>btn_sg_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,392},{29,59}}</string>
                <key>offset</key>
                <string>{57,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,101},{29,59}}</string>
                <key>sourceSize</key>
                <string>{339,247}</string>
            </dict>
            <key>btn_sg_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,570},{41,63}}</string>
                <key>offset</key>
                <string>{51,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,97},{41,63}}</string>
                <key>sourceSize</key>
                <string>{339,247}</string>
            </dict>
            <key>btn_sg_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,700},{55,63}}</string>
                <key>offset</key>
                <string>{44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,97},{55,63}}</string>
                <key>sourceSize</key>
                <string>{339,247}</string>
            </dict>
            <key>btn_sg_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{67,63}}</string>
                <key>offset</key>
                <string>{38,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,97},{67,63}}</string>
                <key>sourceSize</key>
                <string>{339,247}</string>
            </dict>
            <key>btn_sg_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{81,63}}</string>
                <key>offset</key>
                <string>{31,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,97},{81,63}}</string>
                <key>sourceSize</key>
                <string>{339,247}</string>
            </dict>
            <key>btn_sg_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{93,63}}</string>
                <key>offset</key>
                <string>{25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,97},{93,63}}</string>
                <key>sourceSize</key>
                <string>{339,247}</string>
            </dict>
            <key>btn_sg_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{105,63}}</string>
                <key>offset</key>
                <string>{19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,97},{105,63}}</string>
                <key>sourceSize</key>
                <string>{339,247}</string>
            </dict>
            <key>btn_sg_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{117,63}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,97},{117,63}}</string>
                <key>sourceSize</key>
                <string>{339,247}</string>
            </dict>
            <key>btn_sg_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,63}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,97},{117,63}}</string>
                <key>sourceSize</key>
                <string>{339,247}</string>
            </dict>
            <key>btn_sg_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{113,63}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,97},{113,63}}</string>
                <key>sourceSize</key>
                <string>{339,247}</string>
            </dict>
            <key>btn_sg_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{99,63}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,97},{99,63}}</string>
                <key>sourceSize</key>
                <string>{339,247}</string>
            </dict>
            <key>btn_sg_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{87,63}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,97},{87,63}}</string>
                <key>sourceSize</key>
                <string>{339,247}</string>
            </dict>
            <key>btn_sg_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{75,63}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,97},{75,63}}</string>
                <key>sourceSize</key>
                <string>{339,247}</string>
            </dict>
            <key>btn_sg_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{61,63}}</string>
                <key>offset</key>
                <string>{-37,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,97},{61,63}}</string>
                <key>sourceSize</key>
                <string>{339,247}</string>
            </dict>
            <key>btn_sg_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,635},{49,63}}</string>
                <key>offset</key>
                <string>{-44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,97},{49,63}}</string>
                <key>sourceSize</key>
                <string>{339,247}</string>
            </dict>
            <key>btn_sg_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,457},{35,63}}</string>
                <key>offset</key>
                <string>{-50,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,97},{35,63}}</string>
                <key>sourceSize</key>
                <string>{339,247}</string>
            </dict>
            <key>btn_sg_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,327},{23,45}}</string>
                <key>offset</key>
                <string>{-57,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,98},{23,45}}</string>
                <key>sourceSize</key>
                <string>{339,247}</string>
            </dict>
            <key>btn_sg_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,197},{11,21}}</string>
                <key>offset</key>
                <string>{-63,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,97},{11,21}}</string>
                <key>sourceSize</key>
                <string>{339,247}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btn_effect_z.png</string>
            <key>size</key>
            <string>{127,877}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93d22a203c2184809c9e1d7d9c43d5ea$</string>
            <key>textureFileName</key>
            <string>btn_effect_z.png</string>
        </dict>
    </dict>
</plist>
