<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_chat_btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,250},{167,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,78}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>g_chat_expression.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1},{129,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,38}}</string>
                <key>sourceSize</key>
                <string>{129,38}</string>
            </dict>
            <key>g_chat_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{248,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,139}}</string>
                <key>sourceSize</key>
                <string>{248,139}</string>
            </dict>
            <key>g_chat_img_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,329},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>g_chat_img_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,439},{71,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>g_chat_img_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,329},{88,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,54}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>g_chat_img_bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,384},{71,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>g_chat_language.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,131},{99,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{129,38}</string>
            </dict>
            <key>g_chat_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,424},{110,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,50}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{185,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab749b27a49629435e76160722c79a34$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
