<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_ActivityInside.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,135},{110,109}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,110}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_BGShade1.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,168},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_BGShade2.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,409},{118,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_CommonInside.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,324},{79,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,75}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_EditBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,326},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_ShopVIPbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,371},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_UnitBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,1},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_CommonInside2.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,288},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_TextBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,253},{46,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,44}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Back_L.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,363},{95,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Back_N.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,135},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Close.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,246},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,36},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_ItemBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,61},{152,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,121}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_AnnouncementBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{699,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,58}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_EditBox2.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,253},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_IconAttention.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,343},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_IconUpdate.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,379},{49,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_IconTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,326},{55,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,52}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_IconTitleAttention.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,379},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_PlayerInfoBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,168},{239,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{239,48}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_UnitInfoBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,301},{43,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,42}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_CommonBG1_Title.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,1},{250,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,135},{151,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,70}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_OK.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,291},{151,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,70}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_CommoutOutside.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,247},{89,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,87}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Img_Username.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,1},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_CommoutInside.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,235},{89,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,87}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Tool_BG1.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,485},{93,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,89}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Tool_BG2.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,235},{93,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,89}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Tool_Down.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,485},{61,66}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,89}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Tool_Help.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,184},{98,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,116}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Tool_Quit.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,135},{98,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,116}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Tool_Setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,135},{98,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,116}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Tool_Share.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,284},{94,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,116}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Tool_Up.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,548},{61,66}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,89}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Share_Pyq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,61},{264,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,72}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Share_Title.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,363},{164,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,52}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Share_Wx.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,61},{264,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,72}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Common.png</string>
			<key>realTextureFileName</key>
			<string>Common.png</string>
			<key>size</key>
			<string>{1024,610}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>610</integer>
		</dict>
	</dict>
</plist>