<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_main_bg_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,738},{177,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,30}}</string>
                <key>sourceSize</key>
                <string>{177,30}</string>
            </dict>
            <key>g_main_btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,513},{151,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,70}}</string>
                <key>sourceSize</key>
                <string>{151,70}</string>
            </dict>
            <key>g_main_btn_cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,434},{167,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,78}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>g_main_btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,584},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>g_main_btn_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,355},{167,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,78}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>g_main_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,868},{86,98}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{86,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>g_main_btn_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,321},{167,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,78}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>g_main_btn_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,489},{151,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,70}}</string>
                <key>sourceSize</key>
                <string>{151,70}</string>
            </dict>
            <key>g_main_btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1},{151,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,70}}</string>
                <key>sourceSize</key>
                <string>{151,70}</string>
            </dict>
            <key>g_main_btn_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,276},{167,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,78}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>g_main_btn_pay.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,916},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>g_main_btn_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,197},{167,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,78}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>g_main_btn_sort1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,684},{100,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>g_main_btn_sort2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,641},{98,96}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{98,96}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>g_main_btn_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,153},{167,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,78}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>g_main_btn_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,769},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>g_main_btn_throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,118},{167,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,78}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>g_main_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,785},{98,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>g_main_effect_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,872},{91,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,50}}</string>
                <key>sourceSize</key>
                <string>{91,50}</string>
            </dict>
            <key>g_main_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{181,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,116}}</string>
                <key>sourceSize</key>
                <string>{181,116}</string>
            </dict>
            <key>g_main_score_playername.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,584},{184,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,41}}</string>
                <key>sourceSize</key>
                <string>{184,41}</string>
            </dict>
            <key>g_main_text_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,923},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{254,958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ad500c7845ceda0fd509b6a3940a258$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
