<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pxwz__0000_dl.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{200,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,98}}</string>
                <key>sourceSize</key>
                <string>{200,98}</string>
            </dict>
            <key>pxwz__0001_dlty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,121}}</string>
                <key>sourceSize</key>
                <string>{223,121}</string>
            </dict>
            <key>pxwz__0002_sl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,2},{200,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,94}}</string>
                <key>sourceSize</key>
                <string>{200,94}</string>
            </dict>
            <key>pxwz__0003_slty.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{224,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,118}}</string>
                <key>sourceSize</key>
                <string>{224,118}</string>
            </dict>
            <key>pxwz__0004_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,2},{92,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,97}}</string>
                <key>sourceSize</key>
                <string>{92,97}</string>
            </dict>
            <key>pxwz__0005_gouty.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{115,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>pxwz__0006_cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{92,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,95}}</string>
                <key>sourceSize</key>
                <string>{92,95}</string>
            </dict>
            <key>pxwz__0007_chaty.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{115,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,118}}</string>
                <key>sourceSize</key>
                <string>{115,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pxwz_z.png</string>
            <key>size</key>
            <string>{1279,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53ddcbb44cfd9d121f35555492f4f07d$</string>
            <key>textureFileName</key>
            <string>pxwz_z.png</string>
        </dict>
    </dict>
</plist>
