<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_setting_btn_mu_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,27},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>g_setting_btn_mu_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,76},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>g_setting_btn_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,27},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>g_setting_btn_switch2.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1},{104,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,67}}</string>
                <key>sourceSize</key>
                <string>{104,67}</string>
            </dict>
            <key>g_setting_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,27},{51,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{51,51}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>g_setting_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,91},{128,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>g_setting_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1},{322,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,25}}</string>
                <key>sourceSize</key>
                <string>{322,25}</string>
            </dict>
            <key>g_setting_silence_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,59},{128,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>g_setting_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,27},{128,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>g_setting_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1},{110,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,52}}</string>
                <key>sourceSize</key>
                <string>{110,52}</string>
            </dict>
            <key>onoff_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,57},{150,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,55}}</string>
                <key>sourceSize</key>
                <string>{150,55}</string>
            </dict>
            <key>onoff_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{150,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,55}}</string>
                <key>sourceSize</key>
                <string>{150,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{612,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a45d79c07ebd26fdf7c5c88907ee86ab$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
