<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_Btn_Exchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,504},{149,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,57}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_Btn_Item1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{355,190}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_Btn_Item1_L.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,196},{354,190}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_Btn_Item2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,361},{355,190}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_Btn_Item2_L.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,2},{355,190}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_Btn_OneCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,400},{151,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,57}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_ConnerFirstcharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,571},{98,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,106}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_ConnerHot.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,390},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_ConnerWeigh.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,390},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_MarkGift.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,653},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_VIPDetailBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,296},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_VIPInfoBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,2},{162,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,162}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_VIPTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,296},{204,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,50}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_IconMonth.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,653},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_IconSeason.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,504},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_IconWeek.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,504},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_IconYear.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,504},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_Arrow_Exchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,400},{62,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,43}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_Line_Exchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,2},{26,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,4}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_AttentionBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,665},{310,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Hall_Btn_Mall.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,571},{266,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Hall_Btn_Xufei.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,571},{167,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,78}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Hall_Img_Line.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,2},{565,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{565,3}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Hall_Img_MyThingIconBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,168},{124,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Shop_Img.png</string>
			<key>realTextureFileName</key>
			<string>Shop_Img.png</string>
			<key>size</key>
			<string>{737,720}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>737</integer>
			<key>height</key>
			<integer>720</integer>
		</dict>
	</dict>
</plist>