<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_task_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{268,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,368}}</string>
                <key>sourceSize</key>
                <string>{268,368}</string>
            </dict>
            <key>g_task_btn_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,404},{167,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,66}}</string>
                <key>sourceSize</key>
                <string>{167,66}</string>
            </dict>
            <key>g_task_btn_complete1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,337},{167,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,66}}</string>
                <key>sourceSize</key>
                <string>{167,66}</string>
            </dict>
            <key>g_task_btn_complete2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,270},{167,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,66}}</string>
                <key>sourceSize</key>
                <string>{167,66}</string>
            </dict>
            <key>g_task_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,173},{49,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,36}}</string>
                <key>sourceSize</key>
                <string>{49,36}</string>
            </dict>
            <key>g_task_mark_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,270},{208,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{208,81}}</string>
                <key>sourceSize</key>
                <string>{212,85}</string>
            </dict>
            <key>g_task_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,479},{188,13}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{188,13}}</string>
                <key>sourceSize</key>
                <string>{198,21}</string>
            </dict>
            <key>g_task_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,270},{179,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,225}}</string>
                <key>sourceSize</key>
                <string>{179,225}</string>
            </dict>
            <key>g_task_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1},{171,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,55}}</string>
                <key>sourceSize</key>
                <string>{171,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task.png</string>
            <key>size</key>
            <string>{431,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6f06c48eb888c6f9ef70bcda76d53d2$</string>
            <key>textureFileName</key>
            <string>task.png</string>
        </dict>
    </dict>
</plist>
