<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gc_gq1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1626},{134,132}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,45},{134,132}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1474},{152,150}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,36},{152,150}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{154,152}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,35},{154,152}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{156,154}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,34},{156,154}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{158,158}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,32},{158,158}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{160,160}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,31},{160,160}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{162,162}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,30},{162,162}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{166,164}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,29},{166,164}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{168,166}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,28},{168,166}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{170,168}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,27},{170,168}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,170}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,26},{172,170}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,86},{22,20}}</string>
                <key>offset</key>
                <string>{-41,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,149},{22,20}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,442},{30,28}}</string>
                <key>offset</key>
                <string>{-41,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,145},{30,28}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,628},{34,32}}</string>
                <key>offset</key>
                <string>{-41,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,144},{34,32}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,510},{34,32}}</string>
                <key>offset</key>
                <string>{-41,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,144},{34,32}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,476},{34,32}}</string>
                <key>offset</key>
                <string>{-41,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,144},{34,32}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,442},{34,32}}</string>
                <key>offset</key>
                <string>{-41,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,144},{34,32}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,334},{34,32}}</string>
                <key>offset</key>
                <string>{-41,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,144},{34,32}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,300},{34,32}}</string>
                <key>offset</key>
                <string>{-41,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,144},{34,32}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,266},{34,32}}</string>
                <key>offset</key>
                <string>{-41,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,144},{34,32}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,158},{34,34}}</string>
                <key>offset</key>
                <string>{-41,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,142},{34,34}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,122},{34,34}}</string>
                <key>offset</key>
                <string>{-41,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,142},{34,34}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_gq2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,86},{34,34}}</string>
                <key>offset</key>
                <string>{-41,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,142},{34,34}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_lg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,662},{241,32}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{241,32}}</string>
                <key>sourceSize</key>
                <string>{253,38}</string>
            </dict>
            <key>gc_lg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,975},{236,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{236,68}}</string>
                <key>sourceSize</key>
                <string>{272,104}</string>
            </dict>
            <key>gc_sg_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,46},{38,46}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,87},{38,46}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_sg_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{42,46}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,90},{42,46}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_sg_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,194},{70,62}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,89},{70,62}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_sg_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,368},{72,64}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,91},{72,64}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_sg_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,544},{82,66}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,98},{82,66}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_sg_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1299},{84,68}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,98},{84,68}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_sg_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1213},{84,74}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,98},{84,74}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_sg_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1474},{86,80}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,98},{86,80}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_sg_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1644},{82,82}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,103},{82,82}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_sg_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1562},{80,80}}</string>
                <key>offset</key>
                <string>{16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,106},{80,80}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>gc_sg_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,905},{72,68}}</string>
                <key>offset</key>
                <string>{16,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,117},{72,68}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gc_z.png</string>
            <key>size</key>
            <string>{238,1760}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa753826f3d73fa14a3e7b98f0efcf1f$</string>
            <key>textureFileName</key>
            <string>gc_z.png</string>
        </dict>
    </dict>
</plist>
