<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hikari_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,86},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>hikari_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{63,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,30}}</string>
                <key>sourceSize</key>
                <string>{63,30}</string>
            </dict>
            <key>hikari_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,86},{57,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,24}}</string>
                <key>sourceSize</key>
                <string>{57,24}</string>
            </dict>
            <key>hikari_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,82}}</string>
                <key>sourceSize</key>
                <string>{156,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hikari_z.png</string>
            <key>size</key>
            <string>{160,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d63429414f24812683bc7a3e584704ed$</string>
            <key>textureFileName</key>
            <string>hikari_z.png</string>
        </dict>
    </dict>
</plist>
