<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_facial_dk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,140},{126,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{126,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_dk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,604},{120,122}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{120,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_dk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1},{138,132}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{138,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_dk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,130},{134,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{134,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_eh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1518},{114,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_eh10.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1629},{114,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_eh11.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,368},{114,106}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,26},{114,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_eh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1514},{114,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_eh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1629},{114,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_eh4.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1627},{114,108}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{114,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_eh5.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1290},{114,112}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_eh6.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1518},{114,108}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{114,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_eh7.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1407},{114,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_eh8.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1403},{114,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_eh9.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,493},{114,116}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{114,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_hs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1403},{114,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_hs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1514},{114,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,22},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_hs3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1403},{114,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_hs4.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1403},{114,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_hs5.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1296},{114,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_hs6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1403},{114,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_jj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,267},{114,128}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{114,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_jj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,261},{114,128}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{114,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_kl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,382},{114,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{114,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_kl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,376},{114,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{114,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_pz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,957},{116,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_pz10.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,493},{122,120}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{122,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_pz11.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,953},{116,112}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_pz12.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,953},{116,112}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_pz13.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,723},{116,120}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{116,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_pz14.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,251},{116,128}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{116,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_pz15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,953},{116,112}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_pz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,951},{116,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_pz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,844},{116,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_pz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,840},{116,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_pz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,840},{116,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_pz6.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,840},{116,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_pz7.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,838},{116,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_pz8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1},{146,128}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{146,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_pz9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{150,138}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{150,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_qd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1292},{114,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_qd10.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1629},{114,108}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{114,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_qd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1292},{114,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_qd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1292},{114,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_qd4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1292},{114,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_qd5.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,134},{116,128}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{116,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_qd6.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,614},{120,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{120,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_qd7.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,368},{124,126}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{124,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_qd8.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1629},{114,108}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{114,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_qd9.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1629},{114,108}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{114,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_sk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1183},{114,112}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_sk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,731},{116,112}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_sk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,725},{118,112}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{118,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_sk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,614},{122,112}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{122,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_sk13.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,491},{126,112}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{126,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_sk14.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1179},{114,112}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_sk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1179},{114,112}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_sk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1183},{114,112}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_sk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1177},{114,112}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_sk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1070},{114,112}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_sk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1066},{114,112}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_sk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1066},{114,112}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_sk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1064},{114,112}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_sk9.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,610},{114,112}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_ss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,727},{116,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_facial_ss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,497},{116,124}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{116,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>facial.png</string>
            <key>size</key>
            <string>{493,1740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47bd59f2c64075c9e1fe9a0019ea4233$</string>
            <key>textureFileName</key>
            <string>facial.png</string>
        </dict>
    </dict>
</plist>
